hr {
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 160%;
    width: 60%;
    margin: 0;
    background: #61B4C6;
    border: none;
} 

#home-btn {
    opacity: 1;
}

.projectTitle {
    position: absolute;
    width: 566px;
    height: 55px;
    left: 122px;
    top: 125px;
    color: white;
    opacity: 1;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
}

.subText {
    position: absolute;
    width: 451px;
    height: 82px;
    left: 122px;
    top: 180px;
    color: white;
    opacity: 0.8;
    font-family: Nunito Sans;
    font-size: 30px;
    line-height: 41px;
}

.subSubTekst{
    position: absolute;
    text-align: center;
    width: 451px;
    height: 66px;
    left: 885px;
    top: 450px;
    color: white;
    opacity: 0.8;
    font-family: Nunito Sans;
    font-size: 24px;
    line-height: 33px;
}
#getstarted-btn {
    position: absolute;
    width: 303px;
    height: 80px;
    left: 122px;
    top: 310px;  
    border: 2px solid #61B4C6;
    background-color: transparent; 
    box-sizing: border-box;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;

    color: white;
    font-family: Quicksand;
    font-size: 24px;
    line-height: 30px;
}

#getstarted-btn:hover {
    transition: 0.5s;
    background-color: #61B4C6;
}

#crops-top-image {
    position: absolute;
    width: 465px;
    height: 309px;
    left: 877px;
    top: 150px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

#drone-flying {
    position: absolute;
    width: 528px;
    height: 281px;
    left: 124px;
    top: 440px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

#crops-top-image:hover, #drone-flying:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

